<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="assets/Гильдия А Джин.png">
  <title>Команда перевода AHJIN Team</title>
  <meta name="description">
  <meta name="keywords" content="Перевод манга манхва маньхуа ahjin team solo leveling">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="neon.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark" style="">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="#">Главная</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#schedule">Что-то ещё</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#schedule">Что-то ещё</a>
          </li>
          <li class="nav-item mx-5" style="">
            <a class="nav-link" href="#schedule">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>
          </li>
        </ul>
        <a class="btn navbar-btn mx-2 btn-outline-primary" href="#register" contenteditable="true">&nbsp;Зарегистрироваться</a><a class="btn navbar-btn mx-2 btn-outline-primary" href="#register"><i class="fa fa-user fa-fw"></i>
          <font face="FontAwesome">Войти</font>
        </a>
      </div>
    </div>
  </nav>
  <!-- Cover -->
  <div class="d-flex align-items-center py-5 cover section-fade-in-out border" style="background-image: url(&quot;assets/conference/image4.jpg&quot;);">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 mt-5">
          <h1 class="display-4 border" style=""><b>Команда переводчиков AHJIN Team</b></h1>
          <h1 class="display-4"><br></h1>
          <h1 class="display-4"><br></h1>
          <h1 class="display-4"><br></h1>
          <i class="d-block fa fa-angle-down pt-5 fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro section -->
  <!-- Speakers -->
  <div class="py-5" id="speakers" style="">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 contenteditable="true">Наши участники</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/Сон Джин Ву портрет.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Сон Джин Ву</b></h3>
            <p class="text-muted">Переводчик</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/Ча Хэ Ин.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Ча Хэ Ин</b></h3>
            <p class="text-muted">Переводчик</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/Леннарт Герман.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Леннарт Герман</b></h3>
            <p class="text-muted" contenteditable="true">Клинер</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/Сонг Чи Юл.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Сонг Чи Юл</b></h3>
            <p class="text-muted">Тайпер</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/Лю Джиген.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>Рю Джикан</b></h3>
            <p class="text-muted">Переводчик</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a href="#">
            <img src="assets/conference/from jujutsu kaisen manga cut.jpg" class="center-block img-fluid my-3 shadowed" width="300">
            <h3 class="mb-0"><b>L</b></h3>
            <p class="text-muted">Эдитор</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section-fade-in" style="background-image: url(&quot;assets/conference/image7.jpg&quot;);">
    <div class="container p-4 my-5">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-3">Что мы делаем?</h1>
          <p>Наша команда занимается переводом манги, манхвы и маньхуа. Среди переведёенных нами работ присутствуют такие произведения, как "Поднятие уровня в олиночку" и "Поднятие уровня в одиночку: Рагнарёк". Если вы зачитываетесь азиатскими графическими произведениями, или у вас есть базовое знание английского, японского, китайского, или корейского: Вступайте к нам!</p>
          <a class="btn btn-primary btn-lg m-2 shadowed" href="#register">Зарегистрироваться</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Schedule -->
  <!-- Sponsor logos -->
  <div class="py-5" style="background-image: linear-gradient(to left bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)); background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="text-center mx-auto col-md-12">
          <h1 class="text-white mb-4">Отзывы</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-4 col-3"> <img class="img-fluid d-block rounded-circle" src="assets/conference/Лю Джиген.jpg"> </div>
                <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                  <p class="mb-0 lead">Тан Ву Тон</p>
                  <p class="mb-0">Коментатор 2</p>
                </div>
              </div>
              <p class="mt-3 mb-0">&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-4 col-3"> <img class="img-fluid d-block rounded-circle" src="assets/conference/Сон Джин Ву портрет.jpg"> </div>
                <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                  <p class="mb-0 lead" contenteditable="true">Тан Сан</p>
                  <p class="mb-0">Коментатор 1</p>
                </div>
              </div>
              <p class="mt-3 mb-0" style="">&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3">
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-md-4 col-3"> <img class="img-fluid d-block rounded-circle" src="assets/conference/Леннарт Герман.jpg"> </div>
                <div class="d-flex  col-md-8 flex-column justify-content-center align-items-start col-9">
                  <p class="mb-0 lead">Тан Ву Лин</p>
                  <p class="mb-0">Коментатор 3</p>
                </div>
              </div>
              <p class="mt-3 mb-0">&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4">Наши спонсоры:</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/conference/logo_1.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/conference/logo_4.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/conference/logo_3.png"> </div>
        <div class="col-md-3 col-6">
          <img class="center-block img-fluid d-block" src="assets/conference/logo_2.png"> </div>
      </div>
    </div>
  </div>
  <!-- Call to action -->
  <!-- Footer -->
  <footer class="text-md-left text-center p-4" style="">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-4">
          <h3>Свяжитесь с нами</h3>
          <form>
            <fieldset class="form-group my-3">
              <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
            <fieldset class="form-group my-3">
              <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
            <button type="submit" class="btn btn-outline-primary">Отправить</button>
          </form>
        </div>
        <div class="col-lg-4"> </div>
        <div class="my-3 col-lg-4">
          <h3>Следите за нашей работой</h3>
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-facebook-square text-muted fa-3x m-2"></i></a>
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram text-muted m-2"></i></a>
          <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-2 text-muted"></i></a>
          <a href="https://plus.google.com" target="blank"><i class="fa fa-3x fa-google-plus-official text-muted m-2"></i></a>
          <a href="https://pinterest.com" target="blank"><i class="fa fa-3x text-muted fa-pinterest-p m-2"></i></a>
          <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x text-muted fa-youtube-play m-2"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted text-center">Информация представленная в данном источнике не является действительной, владелец не несёт ответсвенености за нарушению&nbsp; авторских прав и достоверность данных. Рассчитываем на ваше понимание.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in a same page -->
  <script src="js/smooth-scroll.js"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>